.mainTitle {
  width: 100%;
  height: 10vh;
  border: 1px solid red;
  background-color: orangered;
}

.titleContext {
  justify-content: center;
  text-align: center;
  font-family: emoji;
  color: yellow;
}

.searchBox {
  width: 50vw;
  height: 10vh;
  margin-right: 30px;
}

.margin-top {
  margin-top: 20px;
}

.searchText {
  padding: 0 30px 0 30px;
  font-size: larger;
  font-family: emoji;
}

.searchButton {
  height: 10vh;
  width: 15vw;
}

.loginform {
  margin-left: 45%;
  margin-top: 20vh;
}

.titleJustify {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.underline {
    text-decoration: underline;
}

.tableWidth {
  width: 50vw;
}

.tableAndNewVendor {
  display: flex;
  flex-direction: row;
  flex: auto;
}
