.orderSize {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.sizeButtonhandle {
  margin-bottom: 10px;
}

.display-flex {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-grow: 1;
  width: 25%;
  margin: auto;
}

.shrinkInputBoxQuantity {
  margin: auto;
  width: 60px;
}

.margin-auto {
  margin: auto;
}

.button-hw {
    height: 30px;
    width: 100px;
}

.subTotal {
float: right;
}
